* {
    margin: 0;
    padding: 0;
}
nav {
    font-size: 1.6em;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
ul {
    text-align: right;
    height: 70px;
    padding-right: 50px;
}
li {
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}
a {
    color: rgb(24,24,24,.9);
    text-decoration: none;
}
/* Pseudo-clase */
a:hover {
    color: rgba(96, 96, 96, 0.8);
}
.box-img-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.img-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
.icon-lupa {
    font-size: 1em;
    display: inline-block;
    color: red;
}
.menu-hamburguer {
    font-size: 1.8em;
    float: right;
    visibility: hidden;
    margin-top: 20px;
}
.box-imagenes {
    display: grid;
    width: 90%;
    /* background-color: blue; */
    margin: 0 auto;
    grid-template: "dsp-aston dsp-audi dsp-bmw"; 
}
.dsp-aston {
    grid-area: dsp-aston;
}
.dsp-audi {
    grid-area: dsp-audi;
}
.dsp-bmw {
    grid-area: dsp-bmw;
}
@media only screen and (min-width: 320px) 
    and (max-width: 1100px) {
    ul li {
        visibility: hidden;
    }
    .menu-hamburguer {
        visibility: visible;
    }
    .box-imagenes {
        grid-template: "dsp-aston"
                        "dsp-audi"
                        "dsp-bmw";
    }
}

