* {
    margin: 0;
    padding: 0;
}
nav {
    font-size: 1.6em;
    color: white;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
ul {
    text-align: right;
    height: 70px;
    padding-right: 50px;
}
li {
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}
a {
    color: rgb(24,24,24,.9);
    text-decoration: none;
}
/* Pseudo-clase */
a:hover {
    color: rgba(96, 96, 96, 0.8);
}
.box-img-principal {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}
.icon-lupa {
    font-size: 1em;
    display: inline-block;
    color: red;
}

